<div class="jumbotron">
  <%= link_to "Table of Content",    book_path %>
  <hr>

<h1 class="western" lang="en-US">Having contradictory ideas in your head</h1>
<br>
  <div style="text-align: center;">
    <img src="http://i.imgur.com/XLDYNbr.gif" width="50%" height="50%" align="middle" title="contradictory ideas" />
  </div>
<p class="western" lang="en-US">
  Having contradictory ideas is really hard for us humans. It is confusing, depressing and makes us feel very uncomfortable.
  We all hear that we have to challenge our self’s and our ideas and that all the great innovations and discoveries are been
   made by challenging the status quo (the current situation and the current believes). But how hard is that?
</p>

<p class="western" lang="en-US">
  Challenging the status quo means that you have contradictory ideas in your head. It means that you are a little bit
   uncertain about the knowledge and you want to test this knowledge.
</p>

<p class="western" lang="en-US">
  I would like to stress on the following: having two contradictory ideas in your head is not like believing that
  both of them are true. It simply means that you do not know which one is true.
</p>

<p class="western" lang="en-US">
  Believing simultaneously in two controversial ideas leads to psychological problem called Cognitive dissonance which is
  utilized by political propaganda and extreme religious believes (yes, a brain washing technique like get them confused and
  uncertain and then give them “your cure”).
</p>

<p class="western" lang="en-US">
  The thing is that we all have to balance between believes and uncertainty. Over-believing (if such word exists) may
  leads to absence of progress and extreme religions. Too much uncertainty leads to all sorts of phobias, fears and lack
  of initiative. Good luck in balancing that :) and cheer up.
</p>

<p class="western" lang="en-US"><i>
  I don’t believe that that I have all the answers but I would like to help you in asking the right questions by
   broadening your views. And yes I am going to write about contradictory ideas as ideas have to be challenged.
</i></p>

<p class="western" lang="en-US">
  <u>  Some Questions for you</u>:
   How often you challenge your believes? How certain and confident you are in your actions?
</p>



<hr>
<%= link_to "Table of Content",    book_path %>
</div>
