<div class="jumbotron">
  <%= link_to "Table of Content",    book_path %>
  <hr>

<h1 class="western" lang="en-US">The right order</h1>
<br>
  <div style="text-align: center;">
    <img src="http://i.imgur.com/67nOBeu.gif" width="50%" height="50%" title="the right order" />
  </div>
  <p class="western" lang="en-US">
    We all know that the order matters. Take for example a cocking recipe you’ve got the list of all the
    ingredients but what will happen if you start the manipulations in the wrong order like first you roast
    the meat then you boil it and then you cut it to pieces. At the end you will probably end up with something
    uneatable or at least a new kind of dish. So as in most of the processes the order is as much important as the
    individual ingredients. Learning makes no difference.
  </p>

  <p class="western" lang="en-US">
    <i>I recommend you to read my articles in proper order so that you can have maximal benefits of them. In other words,
      just follow the process of wealth generation (understand, measure, manage and explore).
    </i>
  </p>
  <p class="western" lang="en-US">
    Sorting and arranging things on the other hand is hard, sometimes impossible or even unnecessary thing to do if the
    common properties of the categories are uncertain, vague or unimportant (scientist are still having debate over
    categorizing some spices as plants or animals) .
  </p>

  <p class="western" lang="en-US">
    <u>Some Questions for you</u>: Is your home library ordered? Is your hard disk space ordered? Have you seen the movie “Memento”?
  </p>


<hr>
<%= link_to "Table of Content",    book_path %>
</div>
