<div class="jumbotron">
  <%= link_to "Table of Content",    book_path %>
  <hr>

<h1 class="western" lang="en-US">Point Zero</h1>

<br>
<div style="text-align: center;">
  <img src="http://i.imgur.com/no84Sw2.gif" title="0"  width="50%" height="50%" />
</div>

<h2 class="western"></h2>
<p>
  In the MEASURE section of this site I shall write all about the practical, technical and boring stuff about measuring
  our WEALTH. I do not plan for any stories or even jokes.
</p>

<p>Most of the drawings shall be tables, charts and numbers together with the entire Greek alphabet. BEWARE.</p>

<p>
  While trying to be funny and interesting I really strive for excellence.
</p>

<p>
  The intimate idea behind all this is to construct a model (a model behind WealthOZ) for wealth measuring. I consider
  measuring an important milestone on our road to WEALTH as one can only manage things that he/she measures.
</p>

<p>
  As a beginning I plan to start with the material part of it -  in other words accounting and budgeting. Maybe a
   boring words to some of you but they really matter. I consider Financial discipline as equal important as money
   making because a wealthy person is not a person that has what she wants but rather a person that do not wants what
   she do not have(a little bit philosophical here).
</p>

<p>
  I have a lot of ideas but lets take it a step of a time. Lets walk the whole road (whatever the road is) and of
  course your constructive feedback is crucial success factor.</p>

<p>
  How to write me? : <%= link_to "Register", signup_path %> (<strong>totally free!</strong> ) and write a public post disusing  your ideas and feedback in short.
</p>

<p>Thank you all in advance!</p>


<hr>
<%= link_to "Table of Content",    book_path %>
</div>
