

  <h3>Got Wealth?</h3>
  Trying to find the answer...

<hr>
  <h3>Contents</h3>
<hr>
<div class="row">

  <div class="col-xs-10 col-md-2"><h3>Understand</h3>
    <ul>
      <ol>Why WealthOZ !?</ol>
      <ol>Wealth models and Wealth tools</ol>
      <ol><%= link_to 'Having contradictory ideas in your head'.html_safe, a2_path %></ol>
      <ol><%= link_to 'The right order.'.html_safe, a3_path %></ol>
      <ol>Telling stories in a scientific way.</ol>
      <ol>Meet our fictitious characters.</ol>
      <ol>Understand your material wealth.</ol>
      <ol>Understand your everyday transaction.</ol>
      <ol>The confusing double minus effect.</ol>
      <ol>Accounting dilemma or the growing wealth.</ol>
      <ol>But what about noncash transaction.</ol>
      <ol>A life of an Asset.</ol>
      <ol>Complex transactions and the perfect accountant.</ol>
      <ol>Understand your immaterial wealth.</ol>
      <ol>Quantity, quality or mind your own data.</ol>
      <ol>Distinguishing between your wealth units.</ol>
      <ol>Comprehensive Family Accounting. Put it all together. From your transactions to your reports.</ol>
      <ol>Now go with plan B – Budgeting.</ol>
    </ul>
  </div>

  <div class="col-xs-10 col-md-2"><h3>Measure</h3>
    <ul>
      <ol><%= link_to 'Point zero.'.html_safe, b1_path %></ol>
      <ol>Account for cash (money).</ol>
      <ol>Account for debt.</ol>
      <ol>Account for assets.</ol>
      <ol>Account for expenses.</ol>
      <ol>Account for income.</ol>
    </ul>
  </div>

  <div class="col-xs-10 col-md-2"><h3>Manage</h3>
    <ul>
      <ol>Cash rules everything around me.</ol>
      <ol>Bank deposits and loans granted.</ol>
      <ol>Shares.</ol>
      <ol>Investing in companies and owning a Business.</ol>
      <ol>Options and insurances.</ol>
      <ol>Debt.</ol>
      <ol>Debt case study.</ol>
      <ol>Expenses and saving.</ol>
      <ol>Expense properties.</ol>
      <ol>Now we are even.</ol>
      <ol>Explain Sales – volume, price and mix.</ol>
      <ol>Time value of money.</ol>
      <ol>My friend Ponzi</ol>
      <ol>Put value on things.</ol>
      <ol>Compare projects.</ol>
      <ol>Think in %.</ol>
      <ol>Managing growth.</ol>
      <ol>Gamefication and electronic money.</ol>
      <ol>Sales and marketing.</ol>
      <ol>Independent in interdependent world.</ol>
      <ol>Being Unique.</ol>
      <ol>Via Negativa or the negative way.</ol>
      <ol>The rational market.</ol>
      <ol>General Relativity Theory.</ol>
      <ol>First things first.</ol>
    </ul>
  </div>

  <div class="col-xs-10 col-md-2"><h3>Explore</h3>
    <ul>
      <ol><%= link_to 'Short Kibitzer Theory'.html_safe, d1_path %></ol>
      <ol>Invisibility vs. Transparency</ol>
      <ol>Build your wealth in 3D</ol>
      <ol>Dimension 1: Wealth forms.</ol>
      <ol>Dimension 2: Success factors.</ol>
      <ol>Dimension 3: Wealth units.</ol>
      <ol>D2 Wealth success factor Nr.1 – Discipline.</ol>
      <ol>D2 Wealth success factor Nr.2 – Knowledge.</ol>
      <ol>D2 Wealth success factor Nr.3 – Networking.</ol>
      <ol>D2 Wealth success factor Nr.4 – Risk or Uncertainty.</ol>
      <ol>D2 Wealth success factor Nr.5 – Application and measuring results.</ol>
      <ol>Dimension 4: Time.</ol>
      <ol>How to lose.</ol>
      <ol>On the path to an “Epic win”.</ol>
      <ol>Wealth and standard distribution.</ol>
      <ol>Simplify or go to complexity.</ol>
      <ol>Where are you looking at? Intro.</ol>
      <ol>1.You don’t need eyes to see you need a vision. The dreamer’s disease.</ol>
      <ol>2.Binocular vision.</ol>
      <ol>3.I help the world by being selfish.</ol>
      <ol>4.Keeping you up-to-date. Some shoes stories.</ol>
      <ol>5.The sky is the limit but the sun is blinding me.</ol>
      <ol>6.Is your back vision a back pain?.</ol>
      <ol>7.Looking at myself and I see it all</ol>
      <ol>The self-fulfilling prophecy.</ol>
      <ol>Experience and Survival of the fittest.</ol>
      <ol>Been Skeptic.</ol>
      <ol>Wealth and happiness.</ol>
      <ol>Wealth and zero-sum games.</ol>
      <ol>Why trade creates wealth.</ol>
      <ol>The power of statistics - Nr.1.</ol>
      <ol>The power of statistics - Nr.2 – Turn data into information.</ol>
      <ol>Beware of the average monsters.</ol>
      <ol>Cause and effect.</ol>
      <ol>People are controlled not with power but with influential ideas.</ol>
      <ol>Information flood and noise.</ol>
      <ol>The “Do’s and the Don’ts”.</ol>
      <ol>Linearity and the runaway train.</ol>
      <ol>Pay attention.</ol>
      <ol>Infinity.</ol>
      <ol>Planned obsolescence.</ol>
      <ol>Intuition.</ol>
      <ol>Proving negative is almost impossible.</ol>
      <ol>Growth.</ol>
  </div>

  <div class="col-xs-10 col-md-2"><h3>Buzz&Boring</h3>
    <ul>
    </ul>
  </div>

</div>
