
<div class="jumbotron">
  <%= link_to "Table of Content",    book_path %>
  <hr>

  <h1 class="western" lang="en-US">Short Kibitzer Theory</h1>
  <br>
  <div style="text-align: center;">
    <img src="http://i.imgur.com/oRciNcC.jpg" width="50%" height="50%" align="middle" title="contradictory ideas" />
  </div>


  <p>It was a sunny day so </span><span lang="en-US"><u>Tomas</u></span><span lang="en-US"> decided to go for a walk in the park.
     After short break on a bench he felt refresh and a need for new mind challenge emerge. He went to the open chess tables.
      The chess players in the park were usually people not doing well in life. You can call them losers but they have devoted
      their lives to the game of chess which they claimed is the game of all games and that it has real life applications like
       politics, war and business. It was strange that no professional chess play was ever good in something else
       except other games.</p>

  <p>Tomas find a free semi-professional chess opponent and they started to play. At the begging Tomas was doing
    pretty well but then kibitzers gathered around the table. These kibitzers were discussing the game on a loud
    voice and they were giving their unwanted advices which were varying from good to terrible. Tomas got annoyed
     and he lost the game.</p>

  <p>Dam you fucking kibitzers”: Thomas thought to himself “I should stick to the online chess”</p>

  <p>He stood up a saw another chess table full of kibitzers. But these kibitzers were different –
    they were quite. Tomas go close and saw that the chess players on that table were playing
    for money. Thomas went home and that evening only kibitzer’s thoughts were in his head .
     And he started to make parallels between chess, politics and modernity problems:</p>

  <ol>
    <li><p><b>Politics modernity problems</b></p></li>
  </ol>
  <p>What is the one thing that I really hate about our modern times –
    it is called politics. But why I hate politics so much:</p>
  <ul>
    <li><p>Because there are bunch of people that are “no good for anything” making
      large scale decisions affecting all of us</p></li>

    <li><p>The politics claim that they are elected in a democratic process and that
      they will represent the voters believes, needs and ideas by applying inline actions called politics.</p></li>

    <li><p>So once in a while there are these elections where you can choose from one to another politician with
      different types of ideas and programs that they claim they will execute. Shortly after a politician is elected
      they all start doing common things like: lobbing for corporate interests, taking bribes and even doing opposite t
      hings they have promised initially.</p></li>

    <li><p>But maybe the worst thing of all is that after they do all that (doing unethical things
      and not keeping to a promise) they start showing everywhere <b>disturbing your life</b>
       while explaining that the decisions they make are the right ones even the
        only right choice. Come on you are full of shit and you know it.
        This mass propaganda is been deployed with the help of other group of people called journalists.</p></li>
  </ul>
  <p>So the system is broken and it is not that some countries are doing it wrong.
    <b>It is all over the world</b></p>

  <p>You are given the right to choose from the same kind of dirty and mean people.
    There may be exceptions but eventually the system kicks them out or assimilates them.
    Eventually you do not chose ideas or politics you chose only dirty people to govern you.</p>

  <p><b>Why we are here?</b></p>

  <p>Let’s revise how it was:</p>

  <p>Democracy was born in ancient Greece. There in relatively small
     and independent city-states the decisions were made via voting from all those who have
      rights. The voting process was simple and personal and it was conducted at a public place
      were all the voters were gathered and everyone was able to see everyone while voting.</p>

  <p>As the counties become bigger and bigger we had to invent t institutions like Parliament, Senate,
    Chamber, and Party and eventually the current voting process.</p>

  <p>But why is the modern democracy so different from back then? I’ve got three things for you:</p>
  <ol start="1" type="A">
    <li><p>The big is different from the small</p></li>
  </ol>
  <p>This may sound obvious but is it very deep problem that needs a whole new article.</p>
  <ol start="2" type="A">
    <li><p>Top-down vs. Bottom-up </p></li>
  </ol>
  <p>It is the way how important decisions are been made. Another huge topic.</p>
  <ol start="3" type="A">
    <li><p>The Kibitzer effect. </p></li>
  </ol>
  <p>Finally we got to the kibitzers. You know <b>kibitzes: anonymous people that are giving unwanted
    advices without betting anything</b>. It looks like we are surrounded by them – politicians,
    business consultants, journalists, non-government organizations and so on. But let’s stick to the political domain. </p>

  <p>Modern politics is the opposite of money-chess-game in the park. Here the kibitzers are making all the
     decisions and they are betting your tax money. Other kibitzers called journalist are discussing
     and communicating the decisions made by the first group of kibitzers. The biggest problem is that
     we are all becoming kibitzers but only for very short period of time – when talking about politics in
     the pub and when voting on elections (remember: <b>anonymous people that are giving unwanted advices without
       betting anything</b>.</p>

  <p>So we are kibitzers for 5 min. while others are kibitzers for life while taking millions of dollars of our money. Lovely</p>

  <p>People in the park have inner understanding that kibitzers should never been given the right to speak.
    Now try to silence a politician or a journalist and the whole world will understand how nondemocratic you are. </p>

  <p><b>It is just that “Representatives become Kibitzers”.</b></p>

  <p>So the problems that are mentioned are defined way better and broadly by <u>N.N.Taleb</u>. All I did was
    to put them in the context and hopefully to get your attention on them.</p>

  <p>Defining the problem and asking the right questions is far more important than giving
    solutions and answers coz good answers and solutions may change over time but important questions never change.</p>

  <ol start="2">
    <li><p><b>The Solution</b></p></li>
  </ol>

  <p>Let’s see how Mother Nature solves complicated problems compared to modernity:</p>
  <table width="691" cellspacing="0" cellpadding="8"><colgroup><col width="328" /> <col width="329" /> </colgroup>
    <tbody>
      <tr valign="top">
        <td width="328"><p><b>NATURE</b></p></td>
        <td width="329"><p><b>MAN-MADE</b></p></td>
      </tr>
      <tr valign="top">
        <td width="328"><p>High complexity but no kibitzers</p></td>
        <td width="329"><p>High complexity and prosperity of the kibitzers</p></td>
      </tr>
      <tr valign="top">
        <td width="328"><p>Keep problems local</s></td>
        <td width="329"><p>Globalization leads to global problems</p></td>
      </tr>
      <tr valign="top">
        <td width="328"><p>Makes systems that adjust to errors</p></td>
        <td width="329"><p>Try to make robust systems</p></td>
      </tr>
      <tr valign="top">
        <td width="328"><p>Decisions are bottom-up (evolution)</p></td>
        <td width="329"><p>Decisions are top-down</p></td>
      </tr>
    </tbody>
  </table>
  <p>

  </p>
  <p>We are in the information era and with the help of the Internet we can communicate instantly.</p>

  <p><b>IDEA: “Crowd-source politics”</b></p>

  <p>Why not create a political Party where its politician will have only one job…. to ask proper
    questions. And that is a very hard job. On the other side all party members will vote personally meaning
    that everyone can review what others have voted. Than the politicians will just vote what their party members
     have voted in the Parliament/Senate. Let focus on battles of ideas within a Party and not on battles between
     individuals between Parties.</p>

  <p>Anonymity leads to reckless decisions. If you really believe in something you should stand up with your name at least. </p>

  <p>In this complicated world “not knowing” is not a sin so quorums should be really low or should be removed.
     Vote only if you know it is right or you deeply believe in it and you are willing to put your name on it. </p>

  <p>The quality of the decisions made by the voters should be reviewed and appraised by the very same voters.
    People making constantly bad decisions should be penalized (like ban them from the voting process for a period of time).</p>

  <p><b>In this kind of decision-making-voting process I would like to participate –
    personal, transparent and with no kibitzers. </b></p>

  <p>Executing this idea in an online platform should be a hard task. A lot of details have to be taken
    under consideration and the idea has to be polished. One thing is certain:</p>

  <p><b>If someone creates such a system I shall definitely use it.</b></p>

<hr>
<%= link_to "Table of Content",    book_path %>
</div>
