
<div class ="row">
  <div class="col-md-6">
  <%= link_to "Table of Content",    book_path %>
  <hr>

  <h1 class="western" lang="en-US">Invisibility vs. Transparency</h1>
  <br>
  <div style="text-align: center;">
    <img src="http://i.imgur.com/kF009JH.jpg"  width="50%" height="50%" align="middle" title="transsparent"/>

  </div>

  <p>You know invisibility. You’ve seen it in movies where the good or the bad guy has this supernatural ability.
  Everyone had wished to become invisible for a moment (so he can sneak in the girls changing-room for example).</p>

  <p>So you have invisibility if you can see them and they can’t. This gives you huge advantages which you can exploit if you wish.</p>

    <p>Transparent on the other hand is an object through who you can see (like glass or water). It is there and you know it but it
   has no color of its own and you can see what is behind it. Transparent objects are not of a big interest to your eyes.</p>

   <p>Transferring these two terms into social life is not a big mind challenge. Social and business invisibility will give you
  huge advantage over your competitors and all the people you are interacting with. You will know things they hide. But if
  everyone is invisible: all the social interactions would be impossible due to obvious reasons (no one can see anyone).</p>

  <p>Transparent on the other hand is a very buzz word. In the social aspect this basically means that you are showing everything
   you’ve got (not hiding anything). This automatically makes you vulnerable. In a long run transparent agents can have mutual
   beneficial interactions only with other transparent agents (take for example nudist).</p>

   <p>In our modern times where we have instant communication and access to information, invisibility is becoming really hard thing
   to do. That is why more and more people have information about what we want to show plus a lot of stuff we do not want to show.</p>

   <p>Transparency inevitably leads to inequality. If everyone knows were the best prices are, everyone will shop there which leads
  to the “winner-takes –it-all” effect.</p>

  <p>Transparency is not full you know. That is why the modern-business-trade-off is to be very transparent about your customers’
   relationships and hide deeply how you actually make profit. How Google, Facebook, Nestle, all the TV channels, banks and etc.
    are making profit? They give you constant info: how low their prices are or what kind of green initiatives they have but you
    have no idea how they use you data, what kind of ingredients they use or how much interest you actually have to pay. Just do
     not be fooled by this semi-transparency.</p>

  <p>For almost a year I am building a personal financial application (WealthOZ). For a non-programmer like me it is a
  complicated and lonely job but I am determined to do it. The thing is that I want to embed most of the things I write about.</p>

  <p>I want people to write their financial transactions in the system then help them manage their money and eventually
  increasing their wealth. It is obvious that we have a transparency issue here. I want people to be financially transparent
   to WealthOZ so WealthOZ has to be financially transparent to them.  Following the principle of mutual-transparency:
   I have to provide <%= link_to "my aggregated financial information",    transparent_path %> to all WealthOZ users.</p>

   <p>We cannot increase our common wealth if we do not cooperate. We cannot cooperate if we do not trust each other. Sustainable
  trust is built on mutual transparency.</p>


<hr>
<%= link_to "Table of Content",    book_path %>
</div>
</div>
