

How to lose

Thomas: Today I would like to educate you on special topic on which I consider myself as specialist.
    And that is <b>losing</b>.

Garret:  Honestly you look like a pro.  :)


Thomas: As 99% of all creative thing fail so is with 98% of all new business.
To succeed in such a “game” you’d better be prepared for a lot of
<b>trails and errors.Trial and error is freedom my friend. </b>
The more trial and errors you have the biggerthe possibility to succeed in something The world
is changing. We are not farmers or workers on the production line any more (at least most of us).
If you look at most of the successful people in the world you would find that they have a lot of failures
and eventually they succeed. So the failures are all around us and recovering from them is vital
for our survival it may be a good idea to learn how to fail. Here are 5 killer steps in mastering losing:

<ol>
  <li>Define big goals.</li>
  <li>Break down you big goals into smaller assumptions or actions.</li>
  <li>Limit your losses</li>
  <li>Evaluate your loss and refocus. See what you have gained while losing</li>
  <li>Go out and fail gain.</li>
</ol>
&nbsp;

Being prepared for allot of trails and errors means that you
have to mitigate the problems of losing mentally and financially. Losing mentally is really hard.
Every loss damages our ego plus nobody likes the losers. Our brains are wired evolutionary to avoid
losing and promote wining. That is why most of our decisions are targeting emotional balance between
losses and wins rather than best outcome.

Sarah: Is it possible to have more wins than losses and have a negative
total outcome? Yes <b>if the stakes are different</b>.  Avoiding negative emotional misbalance
leads to planning for small but relatively constant and easy wins. That is why people prefer to
work for salary than being entrepreneurs. Studies have found that one loss is equal approximately
2.5 wins on our emotional scale. This explains why gambles who also are looking for emotional balance
rather than financial outcome eventually lose their money. When you detach your emotional fear of losing
(which actually can be only limited as we are only humans) losing financially is far more easy. It is all
about numbers and the only question that you have to answer is how much money I can afford losing

  Thinking in could help)? Applying a financial strategy where you make a lot of small losses
   with little harm may be a smart thing to do.

   Sri Humana: What about apply a <b>life </b>strategy where you make a lot of small mistakes with
   little harm?

   <span style="text-decoration: underline;">Some Question for you</span>: Which is the best way of learning though
   success stories or through stories of failure?  Do you know people that feel comfortable losing?
