<div class="left jumbotron">

	 <h3 class="text-success"><strong>Like what we are doing?</strong></h3>
	 	<h4 class="text-success">You can donate small portion of your Wealth. Only if it is a positive amount!!!</h4>
	<br />
	<br />

 	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="9FFFFKN2YQJWA">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>


</div>
