<% provide(:title, 'How') %>

<h1>Discusions about WealthOZ as a system.</h1>
<p>Tell us what you like, do Not like about WealthOZ. </p>

<iframe src="https://docs.google.com/presentation/d/1qy9jAcUf3TQL6FB6Kp8s8yIa5tioiAXop63YkuxYhjE/embed?start=true&loop=true&delayms=30000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>


<div class="fb-comments" data-href="https://www.facebook.com/WealthOZ" data-numposts="4" data-colorscheme="light"></div>
