<% provide(:title, 'Why') %>

<div  class="jumbotron" class="col-xs-4">
	<h3>Understand WHY we have developed this APP!</h3>
	<br>

	<p>We believe that the process in generating wealth in the world is
	NOT always a zero-sum game (in order for somebody to win somebody else has to lose).
	We believe that by understanding, measuring and exploring your wealth you can actually
	increase it and ultimately increase the common world’s wealth.</p>

	<div style="color:#00CC99">
	<blockquote><b>The ultimate goal of this site is to help people increase their wealth.</b></blockquote>
	</div>

	<p>Increasing your wealth means that:</p>
	<ol >
		<li>You have to understand what your wealth is.</li>
		<li>You measure your wealth and compare it to somebody else wealth or compare it
			with prior periods. <i>Governments, banks and corporations spend enormous amount of resources to
			measure only part of your wealth so it will be a shame if you do not start measuring your wealth
			yourself. And In the end of the day who can measure your wealth better than you?</i></li>
		<li>You manage your current wealth</li>
		<li>You explore new opportunities</li>
	</ol>
	<p>So here are the ways how we can help you increase your wealth for <strong>FREE</strong></p>

	<ol>
		<li>We shall teach you how big corporation measure their wealth in a simplified but powerful way.</li>
		<li>We shall provide you with the online tools to measure your wealth</li>
		<li>We shall advise you on good practices for wealth management</li>
		<li>We shall give you guidelines how to explore new opportunities</li>
	</ol>
	<p>Our guarantees to you:</p>
	<ol>
		<li>We guarantee you that this site is totally <strong>FREE</strong> and we shall not charge you a
			nything while you use it</li>
		<li>We guarantee you that all the information you provided us with shall be treated in strict
			confidentiality and shall not be distributed or use without your permission</li>
		<li>We guarantee you that when you complete our learning module you will understand the most
			important concepts about your wealth and will know how to measure your wealth</li>
		<li>We guarantee you that when you measure your wealth with our free online tools you shall see
			the big picture and ultimately increase your wealth</li>
		<li>We guarantee you that our advices about your wealth shall be helpful, easy to understand and prudent</li>
	</ol>

	<p>And finally here is our general definition of WEALTH:</p>
	<blockquote>Tangible or intangible thing that makes a person, family, or group in a better condition.</blockquote>
</div>
