<footer class="footer">
  <small>
    <a href="http://wealthoz.com/">WealthOZ</a>
    by Ivan Petkov
  </small>
  <nav>
    <ul>
		<%= link_to image_tag("f.png", alt: "facebook"), 'https://www.facebook.com/WealthOZ' %>
    	  <li><a href="https://www.facebook.com/WealthOZ" target="_blank"><img src="images/Social Media/f.png"></a></li>
          <li><a href="https://twitter.com/wealthoz/" target="_blank"><img src="images/Social Media/t.png"></a></li>
          <li><a href="https://plus.google.com/" target="_blank"><img src="images/Social Media/g.png"></a></li>
     	  <li><a href="http://pinterest.com/nahalius/boards/" target="_blank"><img src="images/Social Media/p.png"></a></li>
    	  <li><a href="http://www.youtube.com/" target="_blank"><img src="images/Social Media/u.png"> </a></li>
	      <li><a href="http://blog.wealthoz.com/">Blog</a></li>
    </ul>
  </nav>
</footer>