<% provide(:title, "Create new group :") %>


<%= render 'shared/group_form' %>

<br>
<div class="well">
<h5 class = "text-info">Wealth Group - People and Projects living on ONE mutual Budget. In most cases Wealth Group = Family.</h5>
<h5 class = "text-danger">Create only ONE new Wealth Group and you automaticaly join that new group.</h5>
<h5 class = "text-info">Users can be part of only one Wealth Group. There they percive their financial transactions as common transactions.</h5>
</div>
