<div class="modal fade bs-example3-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        	<h4 class="modal-title" id="myModalLabel">Income</h4>
      	</div>
<a class="btn " href="#" rel="tooltip" data-placement="right"
title="Increase(+) Decrease(-)">Assets</a>
<a class="btn " href="#" rel="tooltip" data-placement="bottom"
title="Increase(-) Decrease(+)">-Debt</a>
<a href="#">=</a>
<a class="btn btn-success assets" href="#" rel="tooltip" data-placement="bottom"
title="Increase(+) Decrease(-)">Income</a>
<a class="btn " href="#" rel="tooltip" data-placement="bottom"
title="Increase(-) Decrease(+)">-Expenses</a>
<a href="#">=</a>
<a class="btn " href="#" rel="tooltip" data-placement="bottom"
title="Increase(+) Decrease(-)"><strong>Wealth</strong></a>

<br />
<p><strong>INCOME</strong> – generally said the net economic benefits that you have received. 
Income usually relates to cash inflows but not all your cash inflows are income. 
When you go to the store and you buy a candy that costs 1$ with 5$ bill the 4$ you received back 
is not an income. The loans and borrowing you receive are not income also (Remember that). 
So income relates to the benefits.</p>
 <br />
 <p><strong>You Increase your Income with [+] and you decrease it with [-]</strong></p>
 <br />
<p><strong>Examples of income:</strong> salary, interest received, dividends received, rent received and etc.
			You receive your wage of $2000 in your bank account. This means cash [+]2000, income from wages [+]2000 
			and ultimatly you Wealth increases [+]2000</p>
     
    </div>
  </div>
</div>