<div class="modal fade bs-example2-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        	<h4 class="modal-title" id="myModalLabel">Debt</h4>
      	</div>
<a class="btn  assets" href="#" rel="tooltip" data-placement="right"
title="Increase(+) Decrease(-)">Assets</a>
<a class="btn btn-warning" href="#" rel="tooltip" data-placement="bottom"
title="Increase(-) Decrease(+)">-Debt</a>
<a href="#">=</a>
<a class="btn " href="#" rel="tooltip" data-placement="bottom"
title="Increase(+) Decrease(-)">Income</a>
<a class="btn " href="#" rel="tooltip" data-placement="bottom"
title="Increase(-) Decrease(+)">-Expenses</a>
<a href="#">=</a>
<a class="btn " href="#" rel="tooltip" data-placement="bottom"
title="Increase(+) Decrease(-)"><strong>Wealth</strong></a>
      	
      	
<p><strong> Things we owe </strong>– are also easily measured in money and they are the money we have borrowed from banks, 
suppliers, friends, government. So the things that we owe are called <strong> DEBT</strong> (Surprised?).<p>
<br />
<p><strong> Examples: </strong>loans, credit cards, not paid purchases and taxes.</p>    	
<br />
<p class=text-warning ><strong>You Increase you Debt with [-] and you decrease it with [+]</strong></p>

<p><strong>Example:</strong> You buy a laptop and you pay whith your credit card 500. So you have [+]500 laptop and [-]500 credit card debt.</p>
      	


     
    </div>
  </div>
</div>