<a data-toggle="modal" data-target=".bs-example124-modal-lg">*Wealth Units</a>

<div class="modal fade bs-example124-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        	<h4 class="modal-title" id="myModalLabel">Wealth Units</h4>
      	</div>
      	
<p>Wealth Units are all the People, Projects and Entetis who measure their Group Wealth. 
They are all in one Wealth Group and percieve thier transactions as mutual transactions.</p>
<br />
<p>If we want to measure the Wealth of a group of individuals and entities all the members of the group 
have to perceive the total Wealth of the group as <b>mutual Wealth</b>. It means that the relationships 
within the group are very very strong and all the members are willing to measure their Wealth as a group. 
These relationships can be something like family relationships, entity and owners relationships or  
all other relationships where the members of the group perceive their total Wealth as <b>mutual Wealth.</b></p>
<br />
<p>But how to be sure that our inner transactions can be accounted as group transactions?</p>
<br />
<p>Just answer this question: Do I perceive these inner transactions as income/expense or 
just a money transfer (from one of my pockets to the other)? Do I perceive the money I pay to my 
children as expense or just a money transfer?  Do I perceive the money I receive from my father as 
income and etc? The thing is that all group members have to have the will to measure their mutual wealth 
(one can do the work but all the others must provide him with information).</p>
     
    </div>
  </div>
</div>