<div class="modal fade bs-example5-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        	<h4 class="modal-title" id="myModalLabel">Wealth</h4>
      	</div>
<a class="btn " href="#" rel="tooltip" data-placement="right"
title="Increase(+) Decrease(-)">Assets</a>
<a class="btn " href="#" rel="tooltip" data-placement="bottom"
title="Increase(-) Decrease(+)">-Debt</a>
<a href="#">=</a>
<a class="btn " href="#" rel="tooltip" data-placement="bottom"
title="Increase(+) Decrease(-)">Income</a>
<a class="btn " href="#" rel="tooltip" data-placement="bottom"
title="Increase(-) Decrease(+)">-Expenses</a>
<a href="#">=</a>
<a class="btn " href="#" rel="tooltip" data-placement="bottom"
title="Increase(+) Decrease(-)"><strong>Wealth</strong></a>

  <br />
  <br />
  <p><strong>Wealth - </strong> the economical resurt of your transactions. In many cases the result 
  	of a particular trasaction may be zero(nil) initialy. In some cases it may be positive number(generating income) 
  	and in other cases it may be a negative number(spending on expenses).</p>
  	<br />
  	<p>It as all about making double entries in this double equation.</p>
<br />
  	<p>Wealth can be - equity, net worth, profit or loss, depending on the type of transaction.</p>
  	   
  	   
    </div>
  </div>
</div>