<!-- Large modal -->
<a  data-toggle="modal" data-target=".bs-example-modal-lg">Help</a>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        	<h4 class="modal-title" id="myModalLabel">Examples</h4>
      	</div>

        <table class="table table-striped table-hover " >
		  <thead>
		    <tr>
		      <th>Description</th>
		      <th>+Assets</th>
		      <th>-Debt  =</th>
		      <th>+Income</th>
		      <th>-Expenses </th>
		      <th>=Wealth</th>
		     </tr>
		  </thead>

		  <tbody>
		      <tr class="success">
		        <td><strong>Purchases</strong></td>
		      </tr>
		      <tr>
		      	<td>You buy yourself a lunch for $20 in cash.</td>
		      	<td>-20 Cash</td>
		      	<td></td>
		      	<td></td>
		      	<td>-20 Food Expenses</td>
		      	<td>-20</td>
		      </tr>
			  <tr>
			  	<td>You buy a new laptop for $1010 on credit.You consider this device as an asset.</td>
		      	<td>1010 Laptop</td>
		      	<td>-1010 Credit Card</td>
		      	<td></td>
		      	<td></td>
		      	<td>+0</td>
		      </tr>
			  <tr>
			  	<td>You inherit a car valued at $3000.</td>
		      	<td>3000 Car</td>
		      	<td></td>
		      	<td>3000 Other Income	</td>
		      	<td></td>
		      	<td>+3000</td>
			  </tr>
			  <tr class="success">
			  	<td><strong>Income</strong></td>
			  </tr>
			  <tr>
			  	<td>You receive your wage on your bank account -$2500.</td>
		      	<td>2500 Cash</td>
		      	<td></td>
		      	<td>2500 Wage</td>
		      	<td></td>
		      	<td>+2500</td>
			  </tr>
			  <tr>
			  	<td>You sell your old car valued at $3000 for $2800</td>
		      	<td>a)+2800 Cash b)-3000 Car</td>
		      	<td></td>
		      	<td>a)+2800 Income from Sales </td>
		      	<td>b)-3000 Cost of Sales</td>
		      	<td>-200</td>
			  </tr>
			  <tr class="warning">
			  	<td><strong>Debt</strong></td>
			  </tr>
			  <tr>
			  	<td>You borrow  $400 from a friend.</td>
		      	<td>400 Cash</td>
		      	<td>-400 Loans from friends</td>
		      	<td></td>
		      	<td></td>
		      	<td>+0</td>
			  </tr>
			  <tr>
			  	<td>You pay a mortgage payment($1100): $500 interest and $600 principal.</td>
		      	<td>a)-1100 Cash</td>
		      	<td>b)600 Bank loans</td>
		      	<td></td>
		      	<td>c)-500 Interest expenses</td>
		      	<td>-500</td>
			  </tr>


		  </tbody>
		</table>

    </div>
    <p>Press Esc to exit.</p>
  </div>
</div>
