=render 'chart_index'
<div class="col-md-10" id='chart'>
</div>
= render_chart @chart_ratio, "chart"
<div class="col-md-10">

.row
  .col-md-6
    = wealth_assets_text(@wealth_assets)
  .col-md-6
    = margin_text(@margin)

=@graph_index1
